form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 800px;
  /* Form outline */
  padding: 2em;
  border: 3px solid #28D277;
  border-radius: 5em;
}
#SubButton
{
  color: azure;
  background-color: blue;
  padding: 1em;
  position: relative;
  top: 10%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width:90px;
  text-align: right;
}

input:focus,
name:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}  
.siteheader
{
position: sticky; 
top: 0;
}
#BodyImage
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.pagefooter
{
color: aliceblue;
}
.mainform
{
color: whitesmoke;
}
#Copyright
{
position: fixed;
right:0%;

}
